

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "poppins",sans-serif !important;
}

body{
    background-color: #f5f8ff !important;
}

img{
    height: 100%;
    width: 100%;
}

.item{
    height: 350px;
    width: 200px;
    background-color: #F7F7F7;
    text-align: center;
}

.image {
    padding-bottom: 7%;
    height: 300px;
    width: 200px;
}

#price{
    font-size: 30px;
}

#saree{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 13em 10em;
}

.input{
    border: none;
    border-bottom: 2px solid black;
}